<nav>
  <ul class='pull-left'>
    <li><%= 'Relax' %></li>
    <li><%= 'I need HELP with some code' %></li>
    <li><%= 'Meetup of the night' %></li>
  </ul>
  <ul class='pull-right'>
    <li><%= link_to 'Logout', '#' %></li>
  </ul>
</nav>